// Chapters
// ========

.chapter-title {
  font-size: unset;
  text-align: right;
}

// Delete these styles, for development only
// -----------------------------------------

[data-quote] {
  border-left: size('quarter-shim') solid;
  padding-left: size('shim');

  footer {
    font-size: size('small');
  }
}

[data-quote='quote'] {
  border-color: color('action');
}

[data-quote='verse'] {
  border-color: color('accent');
}

// End of delete these styles, for development only
// ------------------------------------------------
