// Chapters
// ========

.chapter-number {
  @include font-family('slab');
  text-transform: uppercase;
}

.chapter-title {
  @include font-family('script');
  font-size: size('xxlarge');
  margin-bottom: size('spacer');
  text-align: center;
}
