// Chapters
// ========

.chapter-number {
  @include font-family('slab');
  text-transform: uppercase;

  + .site-title {
    text-align: right;
  }
}

.chapter-title {
  font-size: size('xxlarge');
  margin-bottom: size('spacer');
  text-align: center;
}
