// Footer
// ======

[data-layout='footer'] {
  border-top: 1px solid color('border-light');
  font-size: size('xsmall');
  padding-bottom: size('quarter-shim');
  padding-top: size('quarter-shim');
}

.site-info {
  margin-bottom: 0;
}
