// TOC Link List
// =======

.link-list {
  list-style-position: inside;
  margin-bottom: size('gutter');
}

.link-list-intro {
  display: block;
}

.link-list-item {
  @include font-family('open');
  font-size: size('xsmall');
  margin-bottom: size('shim');
}
