{%- import 'utility.macros.njk' as utility -%}


{#
  Link Lists (TOC)
  ----------------
#}
{% macro list(
  items,
  class
) %}

  {% if (items|length > 0) %}
    <ol class="link-list">
      {% for item in items %}
        {% set content = [item.data.chapter, item.data.title] | join(': ') %}
        <li data-active="{{ item.data.title | slug }}">
          {{ utility.link_if(content, item.url, 'link-list-item') }}
        </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endmacro %}


{#
  Paging Links
  ------------
#}
{% macro paging_link_if(chapter=none, title=none, url=none, class=none) %}

  {%- if url -%}
    <a href="{{ url }}" {{ utility.attr_if('class', class) }}>
      {% include "icons/paging.svg" %}
      <span class="paging-chapter-number">Chapter {{ chapter }}</span>
      <span class="paging-chapter-title">{{ title }}</span>
    </a>
  {%- endif -%}
{% endmacro %}


{#
  Previous & Next Chaptter
  ------------------------
#}
{% macro prev_next(
  all_chapters,
  chapter,
  class
) %}
  {% set next_chapter = chapter + 1 %}
  {% set next = all_chapters[next_chapter - 1] if (all_chapters|length >= next_chapter) else none %}
  {% set prev_chapter = chapter - 1 %}
  {% set prev = all_chapters[prev_chapter - 1] if (prev_chapter > 0) else none %}

  <nav class="paging">
    {% if prev %}
      {{ paging_link_if(prev.data.chapter, prev.data.title, prev.url, 'previous paging-link') }}
    {% endif %}
    {% if next %}
      {{ paging_link_if(next.data.chapter, next.data.title, next.url, 'next paging-link') }}
    {% endif %}
  </nav>
{% endmacro %}
