{%- import 'utility.macros.njk' as utility -%}


{#
  Link Lists (TOC)
  ----------------
#}
{% macro list(
  items,
  class
) %}
  {% if (items | length > 0) %}
    <ol class="link-list">
      {% for item in items %}
        {% set content %}
          {% if (item.data.chapter > 0) and (item.data.chapter < 30) %}
            {{ item.data.chapter }}: {{ item.data.title | striptags(true) }}
          {% else %}
            {{ item.data.title | striptags(true) }}
          {% endif %}
        {% endset %}
        <li data-active="{{ (item.data.title | striptags(true) or item.url) | slug }}">
          {{ utility.link_if(content, item.url, 'link-list-item') }}
        </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endmacro %}


{#
  Paging Links
  ------------
#}
{% macro paging_link_if(chapter=none, title=none, url=none, class=none) %}
  {%- if url -%}
    <a href="{{ url }}" {{ utility.attr_if('class', class) }}>
      {% include "icons/paging.svg" %}
      {% if (chapter > 0) and (chapter < 30) %}
        <span class="paging-chapter-number">Chapter {{ chapter }}</span>
      {% endif %}
      <span class="paging-chapter-title">{{ title | striptags(true) }}</span>
    </a>
  {%- endif -%}
{% endmacro %}


{#
  Previous & Next Chaptter
  ------------------------
#}
{% macro prev_next(
  all_chapters,
  chapter,
  class
) %}
  {% set next = all_chapters | getChapter(chapter + 1) | first %}
  {% set prev = all_chapters | getChapter(chapter - 1) | first %}

  <nav class="paging">
    {% if prev %}
      {{ paging_link_if(prev.data.chapter, prev.data.title, prev.url, 'previous paging-link') }}
    {% else %}
      {{ paging_link_if(-2, 'Title Page', '/', 'previous paging-link') }}
    {% endif %}
    {% if next %}
      {{ paging_link_if(next.data.chapter, next.data.title, next.url, 'next paging-link') }}
    {% endif %}
  </nav>
{% endmacro %}
