{# Attributes #}
{% macro attr_if(
  attr,
  value=none
) %}
  {%- if value -%}
    {{- attr -}}
    {%- set value = value | string -%}
    {%- set value = value | url if (attr == 'href') else value -%}
    {%- if not (value | lower == 'true') -%}
      ="{{ value }}"
    {%- endif -%}
  {%- endif -%}
{% endmacro %}


{% macro show_attrs(
  attrs
) %}
  {%- for attr, value in attrs -%}
    {{- attr_if(attr, value) -}}
  {%- endfor -%}
{% endmacro %}



{#
  Links
  ----------
#}
{% macro link_if(content=none, url=none, class=none) %}
  {% set content = content if (content != none) else caller() %}

  {%- if url -%}
    <a href="{{ url }}" {{ attr_if('class', class) }}>{{ content }}</a>
  {%- else -%}
    <span {{ attr_if('class', class) }}>{{ content }}</span>
  {%- endif -%}
{% endmacro %}



{#
  Chapter Link Lists
  ------------------
#}
{% macro chapter_list(title, chapter=none) %}
  {# {% set chapter = [chapter] %} #}

  <h2>Do I have chapters?</h2>

  {% if (chapter|length > 0) %}
    <h3>Yes, I have chapters:</h3>
    <ul>
      {% for chapter in chapters %}
        <li>
          {{ utility.link_if(chapter.title, chapter.url) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}