{#
  Attributes
  ----------
#}
{% macro attr_if(
  attr,
  value=none
) %}
  {%- if value -%}
    {{- attr -}}
    {%- set value = value | string -%}
    {%- set value = value | url if (attr == 'href') else value -%}
    {%- if not (value | lower == 'true') -%}
      ="{{ value }}"
    {%- endif -%}
  {%- endif -%}
{% endmacro %}


{% macro show_attrs(
  attrs
) %}
  {%- for attr, value in attrs -%}
    {{- attr_if(attr, value) -}}
  {%- endfor -%}
{% endmacro %}



{#
  Links
  -----
#}
{% macro link_if(content=none, url=none, class=none) %}
  {% set content = content if (content != none) else caller() %}

  {%- if url -%}
    <a href="{{ url }}" {{ attr_if('class', class) }}>{{ content }}</a>
  {%- else -%}
    <span {{ attr_if('class', class) }}>{{ content }}</span>
  {%- endif -%}
{% endmacro %}


{#
  Icons
  -----
#}
{% macro icon(name, viewbox=none) %}
   <svg data-icon="{{ name }}" {{ attr_if('viewBox', viewbox) }}>
    <use xlink:href="#icon-{{ name }}" />
  </svg>
{% endmacro %}
