// Paging
// ======

// outer container of all paging elements
[data-layout='paging'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: size('gutter');
}

// the <a> container of each paging element
.paging-link {
  @include font-family('slab');
  column-gap: size('shim');
  display: grid;
  flex: 0 0 auto;
  font-size: size('small');
  margin-bottom: size('shim');
}

.next {
  grid-template-columns: 1fr auto;
  margin-left: size('shim');
  text-align: right;

  // Is it worth it, let me work it
  // put my icon down, flip it and reverse it
  [data-icon] {
    background-color: color('text');
    grid-column: 2;
    transform: scaleX(-1);

    .icon-pointing {
      fill: color('background');
    }

    .icon-square {
      fill: color('text');
    }
  }

  #{$focus} {
    [data-icon] {
      background-color: color('action');

      .icon-square {
        fill: color('action');
      }
    }
  }
}

.previous {
  grid-template-columns: auto 1fr;

  #{$focus} {
    [data-icon] {
      fill: color('action');
    }
  }
}

.paging-chapter-title {
  align-self: center;
  grid-row: 1 / 3;
}

// Line of text displaying "Chapter #"
.paging-chapter-number {
  font-weight: bold;
  grid-row: 1;
  text-transform: uppercase;

  + .paging-chapter-title {
    grid-row: 2;
  }
}

// applied to both paging icons
[data-icon='paging'] {
  @include square('quote');
  grid-row: 1 / 3;
}
