// Grid Layout
// ===========

[data-layout='grid'] {
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 size('half-shim');
}

[data-layout='content'] {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  height: 100vh;
  overflow-y: auto;
}

[data-layout='header'] {
  margin-top: size('double-gutter');
}

[data-layout='header'],
[data-layout='main'],
[data-layout='paging'],
.site-info {
  max-width: size('page');
  margin-left: auto;
  margin-right: auto;
  padding-left: size('double-gutter');
  padding-right: size('double-gutter');
  width: 100%;
}

[data-layout='main'] {
  margin-bottom: size('gutter');
}
