<a href="{{ site.url }}/pages/introduction" class="link-list-item">Introduction</a>
<a href="{{ site.url }}/pages/opening" class="link-list-item">Opening</a>
{{ nav.list(
  items=collections.chapters,
  class='link-list-item') }}
<a href="{{ site.url }}/pages/afterward" class="link-list-item">Afterward</a>
<a href="{{ site.url }}/pages/credits" class="link-list-item">Credits</a>
