{%- import 'utility.macros.njk' as utility -%}

<!doctype html>
<html lang="en" data-theme="{{ theme or 'light' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ renderData.title | striptags(true) or title | striptags(true) or site.title | striptags(true) }}</title>
    <meta name="description" content="{{ site.description or page.description }}" />

    {% include 'site/og.njk' %}

    {% for url in site.styles %}
      <link rel="stylesheet" href="/assets/css/{{ url }}" />
    {% endfor %}
  </head>

  <body data-layout="grid" data-location="{{ (title | striptags(true) or page.url) | slug }}">
    <div data-layout="top-nav">
      {% if not chapter %}
        <h1 class="site-title">
          <a class="site-title-link" href="/" rel="home">
            Tao of <em>Eastwood</em>
          </a>
        </h1>
      {% else %}
          <a class="site-title site-title-link" href="/" rel="home">
            Tao of <em>Eastwood</em>
          </a>
      {% endif %}
      <button data-open="menu" class="menu-btn">
        {% include 'icons/menu.svg' %}
        <span data-hidden>show/hide table of contents</span>
      </button>
      <div data-target="menu" data-layout="nav-panel" aria-expanded="false">
        <div class="nav-header">
          <span class="nav-title">
            Contents
          </span>
          <button data-close="menu" class="menu-btn">
            {% include 'icons/close.svg' %}
          </button>
        </div>
        <nav data-layout="nav-inner">
          {% include 'site/nav.njk' %}
        </nav>
      </div>
    </div>
    <header data-layout="header">
      {% if (chapter > 0) and (chapter < 30) %}
        <p class="chapter-number">
            Chapter {{ chapter }}
        </p>
        {% include 'site/ending.njk' %}
      {% endif %}
      {% if title %}
        <h1 class="chapter-title">{{ title | md('inline') | safe }}</h1>
      {% endif %}
    </header>

    {% block body %}
      <main data-layout="main"
        {{ utility.attr_if('class', templateClass) }}>

        {% block main %}
          {{ content | safe }}
        {% endblock %}
      </main>
    {% endblock %}

    <footer data-layout="footer">
      <p>
        © {% getDate 'year' %}
        <a href="mailto:{{ site.email }}">
          {{ site.author }}
        </a>
        | <a href="/design/">Design System</a>
      </p>
    </footer>

    <script type="text/javascript">
      const openBtn = document.querySelector('[data-open="menu"]');
      const closeBtn = document.querySelector('[data-close="menu"]');
      const menu = document.querySelector('[data-target="menu"]');

      openBtn.addEventListener('click', () => {
        menu.setAttribute('aria-expanded', 'true');
      });
      closeBtn.addEventListener('click', () => {
        menu.setAttribute('aria-expanded', 'false');
      });
    </script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
