{%- import 'utility.macros.njk' as utility -%}

<!doctype html>
<html lang="en" data-theme="{{ theme or 'light' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ renderData.title or title or site.title }}</title>
    <meta name="description" content="{{ site.description or page.description }}" />

    {% include 'site/og.njk' %}

    {% for url in site.styles %}
      <link rel="stylesheet" href="/assets/css/{{ url }}" />
    {% endfor %}
  </head>

  <body data-layout="grid">
    <div data-layout="top-nav">
      {% if not chapter %}
        <h1 class="site-title">
          <a class="site-title-link" href="/" rel="home">
            Tao of <em>Eastwood</em>
          </a>
        </h1>
      {% else %}
          <a class="site-title site-title-link" href="/" rel="home">
            Tao of <em>Eastwood</em>
          </a>
      {% endif %}
      {% include 'icons/menu.svg' %}
      <div data-layout="nav-panel">
        <div class="nav-header">
          <span class="nav-title">
            Chapters
          </span>
          <span class="close">
            {% include 'icons/close.svg' %}
          </span>
        </div>
        <nav data-layout="nav-inner">
          {{ utility.link_if('Introduction', 'pages/introduction/', 'link-list-item link-list-intro') }}
          {{ nav.list(
            items=collections.chapters,
            class='link-list-item'
          ) }}
        </nav>
      </div>
    </div>
    <header data-layout="header">
      {% if chapter %}
        <p class="chapter-number">
            Chapter {{ chapter }}
        </p>
        {% include 'site/ending.njk' %}
      {% endif %}
      {% if title %}
        <h1 class="chapter-title">{{ title }}</h1>
      {% endif %}
    </header>

    {% block body %}
      <main data-layout="main"
        {{ utility.attr_if('class', templateClass) }}>

        {% block main %}
          {{ content | safe }}
        {% endblock %}
      </main>
    {% endblock %}

    <footer data-layout="footer">
      <p>
        © {% getDate 'year' %}
        <a href="mailto:{{ site.email }}">
          {{ site.author }}
        </a>
        | <a href="/design/">Design System</a>
      </p>
    </footer>

    <script>
      const menuBtn = document.querySelector('#@@@');
      const menu = document.querySelector('#@@@');

      menuBtn.addEventListener('click', () => {
        menu.toggleAttribute('aria-expanded');
      });
    </script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
