{%- import 'utility.macros.njk' as utility -%}

<!doctype html>
<html lang="en" data-theme="{{ theme or 'light' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ renderData.title or title or site.title }}</title>
    <meta name="description" content="{{ site.description or page.description }}" />

    {% include 'site/og.njk' %}

    {% for url in site.styles %}
      <link rel="stylesheet" href="/assets/css/{{ url }}" />
    {% endfor %}
  </head>

  <body data-layout="grid">
    <div data-layout="top-nav">
      {% if not chapter %}
        <h1 class="site-title">
          <a href="/" rel="home">{{ site.title }}</a>
        </h1>
      {% else %}
          <a class="site-title" href="/" rel="home">{{ site.title }}</a>
      {% endif %}
    </div>
    <header data-layout="header">
      {% if chapter %}
        <span class="chapter-number">
            Chapter {{ chapter }}
        </span>
      {% endif %}
      {% if title %}
        <h1 class="chapter-title">{{ title }}</h1>
      {% endif %}
    </header>

    {% block body %}
      <main data-layout="main"
        {{ utility.attr_if('class', templateClass) }}>

        {% block main %}
          {{ content | safe }}
        {% endblock %}
      </main>
    {% endblock %}

    <footer data-layout="footer">
      © {% getDate 'year' %}
      <a href="mailto:{{ site.email }}">
        {{ site.author }}
      </a>
      | <a href="/design/">Design System</a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
