{% extends "layouts/base.njk" %}
{%- import 'nav.macros.njk' as nav -%}
{%- import 'utility.macros.njk' as utility -%}


{% block main %}
  {% if quote %}
    <blockquote data-quote="quote">
      {% include "icons/quote.svg" %}
      {{ quote.text | md | safe }}
      <footer>
        {% if quote.author %}
          <strong>{{ quote.author }}</strong>
        {% endif %}
        {% if quote.credential %}
          | <span>{{ quote.credential }}</span>
        {% endif %}
      </footer>
    </blockquote>
  {% endif %}

  {% if verse %}
    <blockquote data-quote="verse">
      {% include "icons/quote.svg" %}
      {{ verse.text | md | safe }}
      <footer class="tao-verse-number">
        <strong>Tao Te Ching</strong>
        | <span>from verse {{ verse.number }}</span>
      </footer>
    </blockquote>
  {% endif %}

  {% if image.src %}
    <img
      src="/assets/images/chapter/{{ image.src }}"
      alt="{{ image.alt }}"
      class="chapter-image" />
  {% endif %}

  {{ content | safe }}

  {% if not title_page %}
    {% include 'site/ending.njk' %}
  {% endif %}
{% endblock %}

{% block pagenav %}
  {{ nav.prev_next(
    all_chapters=collections.chapters,
    chapter=chapter
  ) }}
{% endblock %}
