{% extends "layouts/base.njk" %}
{%- import 'utility.macros.njk' as utility -%}

{% block main %}
  {% if quote %}
    <blockquote data-quote="quote">
      {{ quote.text | md | safe }}
      <footer>
        {% if quote.author %}
          <strong>{{ quote.author }}</strong>
        {% endif %}
        {% if quote.credential %}
          <span>{{ quote.credential }}</span>
        {% endif %}
      </footer>
    </blockquote>
  {% endif %}

  {% if verse %}
    <blockquote data-quote="verse">
      {{ verse.text | md | safe }}
      <footer class="tao-verse-number">
        from verse {{ verse.number }}
      </footer>
    </blockquote>
  {% endif %}

  {{ content | safe }}

  {% set all_chapters = collections.chapters %}
  {% set next_chapter = chapter + 1 %}
  {% set next = all_chapters[next_chapter - 1] if (all_chapters|length >= next_chapter) else none %}
  {% set prev_chapter = chapter - 1 %}
  {% set prev = all_chapters[prev_chapter - 1] if (prev_chapter > 0) else none %}

  <p>
    {% if prev %}
      Previous: {{ utility.link_if(prev.data.title, prev.url) }}
    {% endif %}
    {% if next %}
      Next: {{ utility.link_if(next.data.title, next.url) }}
    {% endif %}
  </p>
{% endblock %}
