{% extends "layouts/base.njk" %}
{%- import 'nav.macros.njk' as nav -%}

{% block main %}
  {{ content | safe }}

  <section class="toc-archive">
    <h2 class="page-title">Table of Contents</h2>
    {% include 'site/ending.njk' %}

    {{ utility.link_if('Introduction', 'pages/introduction/', 'link-list-item link-list-intro') }}
    {{ nav.list(
      items=collections.chapters,
      class='link-list-item'
    ) }}
  </section>
{% endblock %}
