{% extends "layouts/base.njk" %}
{%- import 'nav.macros.njk' as nav -%}

{% block main %}
  {{ content | safe }}

  <section class="toc-archive">
    <h2 class="page-title">Table of Contents</h2>
    {% include 'site/ending.njk' %}
    {% include 'site/nav.njk' %}
  </section>
{% endblock %}
