{% extends "layouts/base.njk" %}
{%- import 'toc.macros.njk' as toc -%}

{% block main %}
  {{ content | safe }}

  <section class="toc-archive">
    {{ toc.list(
      title='Chapters:',
      items=collections.chapters
    ) }}
  </section>
{% endblock %}
